.Seccion_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}


.contenedor_login{
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.6);
}

.titulo_contendor h2{
 margin: 0 0 30px;
 padding: 0;
 color: white;
 text-align: center;
}
.usuario_box{
    position: relative;
}

.usuario_box input{
    width: 100%;
    padding: 10px 0 ;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
}

.usuario_box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    pointer-events: none;
}

.usuario_box input:focus ~ label  {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login_boton button {
    position: relative;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: none;
}


.login_boton button:hover{
    background-color: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login_boton button span {
    position: absolute;
    display: block;
}

.login_boton button span:nth-child(1) {
    top: 0 ;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: boton_animado1 1s linear infinite;
}

@keyframes boton_animado1 {
    0%{
        left: -100%;
    }
    50% , 100% {
        left: 100%;
    }
}


.login_boton button span:nth-child(2) {
    top: -100% ;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: boton_animado2 1s linear infinite;
    animation-delay: 0.25s;
 }

 @keyframes boton_animado2 {
    0%{
        top: -100%;
    }
    50% , 100% {
        top: 100%;
    }
}


.login_boton button span:nth-child(3) {
    bottom: 0 ;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: boton_animado3 1s linear infinite;
    animation-delay: 0.50s;

}

@keyframes boton_animado3 {
    0%{
        right: -100%;
    }
    50% , 100% {
        right: 100%;
    }
}

.login_boton button span:nth-child(4) {
    bottom: -100% ;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: boton_animado4 1s linear infinite;
    animation-delay: 0.75s;


  }

 @keyframes boton_animado4 {
    0%{
        bottom: -100%;
    }
    50% , 100% {
        bottom: 100%;
    }
}
.registrar_boton button {
    position: relative;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: none;
}


.registrar_boton button:hover{
    background-color: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.registrar_boton button span {
    position: absolute;
    display: block;
}

.registrar_boton button span:nth-child(1) {
    top: 0 ;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: boton_animado1 1s linear infinite;
}
 

.registrar_boton button span:nth-child(2) {
    top: -100% ;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: boton_animado2 1s linear infinite;
    animation-delay: 0.25s;
 }
 

.registrar_boton button span:nth-child(3) {
    bottom: 0 ;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: boton_animado3 1s linear infinite;
    animation-delay: 0.50s;

}
 

.registrar_boton button span:nth-child(4) {
    bottom: -100% ;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: boton_animado4 1s linear infinite;
    animation-delay: 0.75s;


  }

  